/* All styles for your header Components live here */
.header-container{
  display: inline;
  background: palevioletred
}
.header-container img{
  float: left;
  width: 50px;
  margin-right: 10px;
}
.bold{
  font-weight: bold;
}
.light{
  color: gray
}